@font-face {
  font-family: 'Outfit';
  src: url('/fonts/Outfit-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Outfit';
  src: url('/fonts/Outfit-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Outfit';
  src: url('/fonts/Outfit-Light.ttf') format('truetype');
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: 'Outfit';
  src: url('/fonts/Outfit-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Outfit';
  src: url('/fonts/Outfit-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

body {
  font-family: 'Outfit', sans-serif;
  margin: 0;
  padding: 2em 3em;
}

h1 {
  font-size: 2em;
}

@media screen and (max-width: 640px) {

  body {
    font-family: 'Outfit', sans-serif;
    margin: 0;
    padding: 1em;
  }

  h1 {
   font-size: 1em;
  }
}